if SHIELD_TM_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Teclado Mayoraz"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TM_RIGHT || SHIELD_TM_LEFT

config ZMK_SPLIT
    default y

endif
