#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY  0  //Default layer
#define FUNC    1  //FN key is held
#define NUMP    2  //Numpad key is toggled

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
                &kp ESCAPE	 &kp F1	 &kp F2	 &kp F3	 &kp F4	 &kp F5	 &kp F6	 &kp F7	 &kp F8	 &kp F9	 &kp F10	 &kp F11	 &kp F12	 &kp *	 &kp *	 &kp *LAYERTOGGLE
                &kp *MACRO1	 &kp GRAVE	 &kp NUMBER_1	 &kp NUMBER_2	 &kp NUMBER_3	 &kp NUMBER_4	 &kp NUMBER_5	 &kp *	 &kp *	 &kp NUMBER_6	 &kp NUMBER_7	 &kp NUMBER_8	 &kp NUMBER_9	 &kp NUMBER_0	 &kp MINUS	 &kp BACKSPACE
                &kp *MACRO2	 &kp TAB	 &kp Q	 &kp W	 &kp E	 &kp R	 &kp T	 &kp *	 &kp *	 &kp Y	 &kp U	 &kp I	 &kp O	 &kp P	 &kp EQUAL	 &kp BACKSLASH
                &kp *MACRO3	 &kp CAPSLOCK	 &kp A	 &kp S	 &kp D	 &kp F	 &kp G	 &kp *	 &kp *	 &kp H	 &kp J	 &kp K	 &kp L	 &kp SEMICOLON	 &kp SINGLE_QUOTE	 &kp RETURN
                &kp *MACRO4	 &kp LEFT_SHIFT	 &kp Z	 &kp X	 &kp C	 &kp V	 &kp B	 &kp *	 &kp F24	 &kp N	 &kp *MOUSELEFT	 &kp *MOUSERIGHT	 &kp PERIOD	 &kp SLASH	 &kp RIGHT_ALT	 &kp RIGHT_SHIFT
                &kp *MACRO5	 &kp LEFT_CONTROL	 &mo FUNC	 &kp LEFT_ALT	 &kp LEFT_COMMAND	 &kp *	 &kp SPACE	 &kp *	 &kp *MOUSEBUTTON3	 &kp LEFT_ARROW	 &kp M	 &kp COMMA	 &kp UP_ARROW	 &kp DOWN_ARROW	 &kp RIGHT_ARROW	 &kp RIGHT_CONTROL
            >;
        };
        function_layer { // Layer 1
            display-name = "Function";
            bindings = <
                &kp ESCAPE	 &kp F1	 &kp F2	 &kp F3	 &kp F4	 &kp F5	 &kp F6	 &kp F7	 &kp F8	 &kp F9	 &kp F10	 &kp F11	 &kp F12	 &kp *	 &kp *	 &kp *LAYERTOGGLE
                &kp *MACRO1	 &kp GRAVE	 &kp NUMBER_1	 &kp NUMBER_2	 &kp NUMBER_3	 &kp NUMBER_4	 &kp NUMBER_5	 &kp *	 &kp *	 &kp NUMBER_6	 &kp NUMBER_7	 &kp NUMBER_8	 &kp NUMBER_9	 &kp NUMBER_0	 &kp MINUS	 &kp BACKSPACE
                &kp *MACRO2	 &kp TAB	 &kp Q	 &kp W	 &kp E	 &kp R	 &kp T	 &kp *	 &kp *	 &kp Y	 &kp U	 &kp I	 &kp O	 &kp P	 &kp EQUAL	 &kp BACKSLASH
                &kp *MACRO3	 &kp CAPSLOCK	 &kp A	 &kp S	 &kp D	 &kp F	 &kp G	 &kp *	 &kp *	 &kp H	 &kp J	 &kp K	 &kp L	 &kp SEMICOLON	 &kp SINGLE_QUOTE	 &kp RETURN
                &kp *MACRO4	 &kp LEFT_SHIFT	 &kp Z	 &kp X	 &kp C	 &kp V	 &kp B	 &kp *	 &kp F24	 &kp N	 &kp *MOUSELEFT	 &kp *MOUSERIGHT	 &kp PERIOD	 &kp SLASH	 &kp RIGHT_ALT	 &kp RIGHT_SHIFT
                &kp *MACRO5	 &kp LEFT_CONTROL	 &kp K_MENU	 &kp LEFT_ALT	 &kp LEFT_COMMAND	 &kp *	 &kp SPACE	 &kp *	 &kp *MOUSEBUTTON3	 &kp LEFT_ARROW	 &kp M	 &kp COMMA	 &kp UP_ARROW	 &kp DOWN_ARROW	 &kp RIGHT_ARROW	 &kp RIGHT_CONTROL
            >;
        };
    };
};
